.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 12em);
  text-align: center;

  .error {
    display: flex;
    flex-direction: column;
    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 5rem;
      display: inline-block;
      color: #000;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 3rem;
      color: #888;
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
